<div class="main-login">
    <div class="login-card">
        <div>
            <img class="logo-header" src="assets/png/logo.png">
        </div>
        <h1>Cổng Thông Tin Đào Tạo Hutech</h1>
        <span style="color: red">{{error}}</span>
        <form (ngSubmit)="Login(loginForm)" #loginForm="ngForm" ngNativeValidate>
            <div class="md-form form">
                <input type="text" name="mssv" minlength="4" autofocus required class="form-control validate" placeholder="Mã số sinh viên" ngModel>
            </div>
            <br>
            <div class="md-form form">
                <input type="password" name="password" required class="form-control validate" placeholder="Mật khẩu" ngModel>
            </div>
            <br>
            <div class="text-center">
                <button  class="btn-login">Đăng Nhập</button>
            </div>
        </form>
        <!--<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
            <div class="form-group row" [ngClass]="{'has-error': (!username.valid && username.touched), 'has-success': (username.valid && username.touched)}">
                <input [formControl]="username" type="text" class="form-control" id="inputUserName3" placeholder="Mã số sinh viên">
            </div>
            <div class="form-group row" [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                <input [formControl]="password" type="password" class="form-control" id="inputPassword3" placeholder="Mật khẩu">
            </div>
            <div class="form-group row">
                <div style="margin: auto">
                    <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth">Đăng nhập</button>
                </div>
            </div>
        </form>-->
    </div>
</div>