@import 'conf/conf';

$text-color: #000000;
.main-login {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
}

.login-card {
  width: 540px;
  margin: 0 auto;
  border-radius: 5px;
  background: white;
//   @include bg-translucent-dark(0.55);
  color: black;
  padding: 32px;
  h1 {
    font-weight: $font-light;
    margin-bottom: 28px;
    text-align: center;
  }
  p {
    font-size: 16px;
  }
  a {
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease;
    color: $primary;
    &:hover {
      color: $primary-dark;
    }
  }

  .control-label {
    padding-top: 11px;
    color: $text-color;
  }

  .form-group {
    margin-bottom: 12px;
  }
}
.logo-header{
    width: 50%;
    height: 25%;
    display: block; /*for the img inside your div */  
    margin-left: auto ;
    margin-right: auto ;
}
.login-input {
  width: 300px;
  margin-bottom: 24px;
  input {
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 4px 10px;
    outline: none;
  }
}

a.forgot-pass {
  display: block;
  text-align: right;
  margin-bottom: -20px;
  float: right;
  z-index: 2;
  position: relative;
}

.login-link {
  display: block;
  font-size: 16px;
  text-align: center;
  margin-bottom: 33px;
}

.btn-login {
    color: #ffffff;
    background-color: #3a5795;
    border-color: #3a5795;
}
.btn-login:hover{
    background-color: #4d4dff;
    border-color: #3a5795;
}
