.main{
    background: transparent;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
}
.body{
    height: 100%;
    min-height: 100%;
    background: white;
   border-color: white;
   padding: 10px;
    // border: 0.2px solid;
    // border-radius: 15px;
}
.nav-bar{
    margin: auto;
    border-style: solid;
    border-color: #337ab7;
    padding: 2px;
    // border-radius: 15px;
}