<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)" [ngClass]="{scrolled: isScrolled}">
  <a routerLink="/pages/dashboard" class="al-logo clearfix"><span>HUTECH</span>-erp</a>
  <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>

  <div class="user-profile clearfix">
    <div class="dropdown al-user-profile">
      <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
        <img [src]="image"
        onError="this.src='http://www.archuniverse.com/profile-images/default.jpg'">
      </a>
      <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
        <li class="dropdown-item link-dropdown">
          <a class="no-link">
            <p class="text-tk">Chào mừng {{hoTen}}</p> <br>
            <span class="text-tk">Tài khoản {{NhanVienID}}</span>
          </a>
        </li>
        <li class="dropdown-item"><a (click)="goToLogin()" class="signout"><i class="fa fa-power-off"></i>Đăng xuất</a></li>
      </ul>
    </div>
    <ba-msg-center></ba-msg-center>
  </div>
  <div class="questions-section">Cần trợ giúp? <a href="mailto:tt.qlcntt@hutech.edu.vn">tt.qlcntt@hutech.edu.vn</a></div>
</div>
