<div id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 ">
                <div class="navy-line"></div>
                <h1>THÔNG TIN HỆ THỐNG</h1>

            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-12 ">
                <p>
                    Kênh thông tin quản lý nội bộ <strong>Version beta 1.0.0</strong>
                </p>
                <p>
                    TRONG QUÁ TRÌNH SỬ DỤNG, KHI GẶP SỰ CỐ VUI LÒNG LIÊN HỆ THEO THÔNG TIN BÊN DƯỚI
                </p>

                <p>
                    <strong><span class="navy">Trung tâm Quản lý Công nghệ Thông tin</span></strong>
                </p>
                <p>Điện thoại: (08) 3512 0783 - Nội bộ: 45</p>
                <p>Đường dây nóng: </p>
                <p>Email: <a href="mailto:tt.qlcntt@hutech.edu.vn">tt.qlcntt@hutech.edu.vn</a></p>

                <h3>Hoặc theo dõi trên kênh thông tin xã hội</h3>

                <ul class="list-inline social-icon">
                    <li>
                        FACEBOOK
                        <a href="https://www.facebook.com/hutech.itcenter/" target="_blank">
                            https://www.facebook.com/hutech.itcenter/
                        </a>
                    </li>
                    <li>
                        YOUTUBE
                        <a href="https://www.youtube.com/channel/UCICDAfLAzWgTrMJrDLcMZWw" target="_blank">
                            https://www.youtube.com/channel/UCICDAfLAzWgTrMJrDLcMZWw
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>