<div class="container">
    <div class="row">
        <div style="margin: auto">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Thông Tin Sinh Viên</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="title">Họ Tên Sinh Viên</td>
                                <td class="value">{{username}}</td>
                            </tr>
                            <tr>
                                <td class="title">Mã Số Sinh Viên</td>
                                <td class="value">{{mssv}}</td>
                            </tr>
                            <!--<tr>
                            <td class="title">Địa Chỉ</td>
                            <td class="value">TP HCM</td>
                        </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="scores-detail container">
        <div class="panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Lịch Thi</h3>
            </div>
            <div class="search row">
                <div class="col-md-4">
                    <select class=" form-control selectpicker">
                    <option >Học kì 1</option>
                    <option >Học kì 2</option>
                    <option >Học kì 3</option>
                </select>
                </div>
                <div class="col-md-4">
                    <year-picker></year-picker>
                </div>
                <div class="col-md-4">
                    <button (click)="show()">Xem</button>
                </div>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr class="title-table-scores">
                            <td style="border: 1px solid white"><span class="label-table-scores">STT</span></td>
                            <td style="border: 1px solid white"><span class="label-table-scores">Mã Môn</span></td>
                            <td style="border: 1px solid white"><span class="label-table-scores">Tên Môn</span></td>
                            <td style="border: 1px solid white"><span class="label-table-scores">Nhóm Thi</span></td>
                            <td style="border: 1px solid white"><span class="label-table-scores">Tổ Thi</span></td>
                            <td style="border: 1px solid white"><span class="label-table-scores">Ngày Thi</span></td>
                            <td style="border: 1px solid white"><span class="label-table-scores">Giờ Bắt Đầu</span></td>
                            <td style="border: 1px solid white"><span class="label-table-scores">Số Phút</span></td>
                            <td style="border: 1px solid white"><span class="label-table-scores">Phòng</span></td>
                            <td style="border: 1px solid white"><span class="label-table-scores">Hình Thức</span></td>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of listScores">
                        <tr>
                            <th colspan="13" align="left" class="semester-detail"><span>Học kì {{item.hoc_ky}} - Năm học {{item.nam_hoc}}</span></th>
                        </tr>
                        <tr *ngFor="let scores of item.list, let i=index">
                            <td class="cell-scores-detail"><span>{{i+1}}</span></td>
                            <td class="cell-scores-detail"><span>{{scores.ma_mon_hoc}}</span></td>
                            <td class="cell-scores-detail"><span>{{scores.ten_mon_hoc}}</span></td>
                            <td class="cell-scores-detail"><span>{{scores.so_tc}}</span></td>
                            <td class="cell-scores-detail"><span></span></td>
                            <td class="cell-scores-detail"><span></span></td>
                            <td class="cell-scores-detail"><span></span></td>
                            <td class="cell-scores-detail" title="Điểm 30%"><span>{{scores.diem_thuc_hanh}}</span></td>
                            <td class="cell-scores-detail" title="Điểm 70%"><span>{{scores.diem_thi}}</span></td>
                            <td class="cell-scores-detail"><span></span></td>
                            <td class="cell-scores-detail" title="Điểm hệ 10"><span>{{scores.diem_hoc_phan_muoi}}</span></td>
                            <td class="cell-scores-detail" title="Loại"><span>{{scores.loai}}</span></td>
                            <td class="cell-scores-detail" title="Điểm hệ 4"><span>{{scores.diem_hp_bon}}</span></td>
                        </tr>
                        <tr class="cell-scores-detail">
                            <th colspan="3" align="left">
                                <div class="row">
                                    <span class="col-md-8">Tổng tín chỉ : </span>
                                    <span class="col-md-4" style="text-align: right;">{{item.tong_tc}}</span>
                                </div>
                            </th>
                            <th colspan="10" align="left"></th>
                        </tr>
                        <tr class="cell-scores-detail">
                            <th colspan="3" align="left">
                                <div class="row">
                                    <span class="col-md-8">Tổng tín chỉ chưa đạt : </span>
                                    <span class="col-md-4" style="text-align: right;">{{item.tong_tc_chua_dat}}</span>
                                </div>
                            </th>
                            <th colspan="10" align="left"></th>
                        </tr>
                        <tr class="cell-scores-detail">
                            <th colspan="3" align="left">
                                <div class="row">
                                    <span class="col-md-8">Tổng tín chỉ đạt : </span>
                                    <span class="col-md-4" style="text-align: right;">{{item.tong_tc_dat}}</span>
                                </div>
                            </th>
                            <th colspan="10" align="left"></th>
                        </tr>
                        <tr class="cell-scores-detail">
                            <th colspan="3" align="left">
                                <div class="row">
                                    <span class="col-md-8">Điểm trung bình :  </span>
                                    <span class="col-md-4" style="text-align: right;">{{item.dtb}}</span>
                                </div>
                            </th>
                            <th colspan="10" align="left"></th>
                        </tr>
                        <tr class="cell-scores-detail">
                            <th colspan="3" align="left">
                                <div class="row">
                                    <span class="col-md-8">Điểm trung bình học kì hệ 4 : </span>
                                    <span class="col-md-4" style="text-align: right;">{{item.dtb_hoc_ky_he_bon}}</span>
                                </div>
                            </th>
                            <th colspan="10" align="left"></th>
                        </tr>
                        <tr class="cell-scores-detail">
                            <th colspan="3" align="left">
                                <div class="row">
                                    <span class="col-md-8">Điểm trung bình tích lũy : </span>
                                    <span class="col-md-4" style="text-align: right;">{{item.dtb_tich_luy}}</span>
                                </div>
                            </th>
                            <th colspan="10" align="left"></th>
                        </tr>
                        <tr class="cell-scores-detail">
                            <th colspan="3" align="left">
                                <div class="row">
                                    <span class="col-md-8">Điểm trung bình tích lũy hệ 4 : </span>
                                    <span class="col-md-4" style="text-align: right;">{{item.dtb_tich_luy_he_bon}}</span>
                                </div>
                            </th>
                            <th colspan="10" align="left"></th>
                        </tr>
                        <tr class="cell-scores-detail">
                            <th colspan="3" align="left">
                                <div class="row">
                                    <span class="col-md-8">Xếp loại: </span>
                                    <span class="col-md-4" style="text-align: right;">{{item.xep_loai}}</span>
                                </div>
                            </th>
                            <th colspan="10" align="left"></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>